.tags {
    margin-top: 0.7rem;
}

.list-true li {
    list-style-type: circle;

}

.forbidden {
    cursor: not-allowed;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}
